[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/cpp-thread-safe-queue"]
	path = external/cpp-thread-safe-queue
	url = https://github.com/vladimirk97/cpp-thread-safe-queue.git
